# Sidebar
VITE_AVATAR_SRC=
VITE_AVATAR_ALT=

VITE_INFO_FULLNAME=
VITE_INFO_DESC=
VITE_INFO_ROLE=

VITE_CONTACT_PHONE=
VITE_CONTACT_MAIL=
VITE_CONTACT_LOCATION=

VITE_SOCIAL_FACEBOOK=
VITE_SOCIAL_GITHUB=
VITE_SOCIAL_LINKEDIN=

VITE_ACADEMIC_NAME=
VITE_ACADEMIC_COURSE=
VITE_ACADEMIC_GPA=

# Content
VITE_SUMMARY_PROJECT=
VITE_SUMMARY_YEAR=
VITE_SUMMARY_EXPERIENCE=

VITE_ABOUT_DESC=

# Print
VITE_PRINT_SCORE=